
<!---Dados do Banco-->

<div class="container mt-4">
    <mat-card class="home mat-elevation-z4">
        <div class="card-body">
<table>
                 <thead>
                  <tr>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th>Cor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let Produto of Produtos">
                    <td>{{Produto.Produto}}</td>
                    <td>{{Produto.Preco}}</td>
                    <td>{{Produto.Cor}}</td>
                    <td></td>
                    <td>
                      <i (click)="eliminarProduto(Produto.id)" class="material-icons delete ">delete</i>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
      </mat-card>
</div>






<!--FEIto AGora-->
<!--
<div mat-card class="home mat-elevation-z4">
  <span >
    <mat-card-title class="title">
      Seja-Bem Vindo a Nuvem



  </mat-card-title>
  </span>
<div class="container-fluid">
  <div class="text-right mb-4">
  
  <button class="btn btn-primary"  (click)="openModal(popup(),null as any)">
  <i class="fa fa-plus"></i>Add
</button>
</div>  
  <div class="row"*ngIf="produtoList.length">
  
  <div class="col-md-3" *ngFor="let produto of produtoList">


    <div class="card">
      <div class="heading">{{produto.Produto}}</div>
  <div class="sub-heading">{{produto.Preco}}</div>

<div class="icon">
  <i class="fa fa-edit text-primary" (click)='openModal(popup, Produto.id)'>mode</i>
  <i class="fa fa-trash text-danger" (click)='deleteProduct(Produto.id)'>delete</i>
</div>

</div>
</div>

</div>
<ng-template #popup let-d="dimiss">
  <div class="modal-header text-primary">
    {{produtoDetails ?'Update':'Add'}}Items
  </div>

<div class="modal-body">

<form [formGroup]="form">
  <div class="form-group">
    <label for="Produto">Produto</label>
    <input id="Produto" type="text" formControlName="Produto"
    class="form-control" [ngClass]="{'error-border':!form.get('Produto').valid && form.get('Produto').dirty}"/>
  </div>
  

  <div class="form-group">
    <label for="Preco">Preco</label>
    <input id="Preco" type="text" formControlName="Preco"
           class="form-control" [ngClass]="{'error-border': !form.get('Preco').valid && form.get('Preco').dirty}"/>
  
          </div>
    </form>
    <div class="text-center">
      <button class="btn btn-primary btn-sm pl-4 pr-4 mr-2"
              [disabled]="!form.valid"
              (click)="produtoDetails ? updateProdutos(produtoDetails.id) : addProdutos(); d()">Save</button>
    </div>
  



</div>
  </ng-template>
-->













